body
{
font-family:helvetica;
margin:0px;
color:#444;
}

h1
{
color:#333;
}


.wrapperwrapper
{
width:100%;
background-color:white;
}

.wrapper
{
position;relative;
top:100;
width:900px;
}


.header
{
width:900px;
}

.menu
{
width:900px;
}

.tagline
{
width:900px;
}


.mainwrapper
{
height:380px;
background-color:white;
}
.main
{
background-color:white;
text-align:left;
float:left;

width:65%;
}

.sidebar
{
text-align:left;
float:right;
height:380px;
width:34.9%;
background-color:white;
}

.footer
{
margin:0px;
width:100%;
overflow:hidden;
clear:both;
background-color:#f0f0f0;
}

p
{
font-weight:bold;
font-size:120%;
color:#444;
padding-top:30px;
}
.pmain
{
text-align: justify; text-justify: newspaper ;
font-weight:bold;
margin-right:45px;
color:#444;
}

.ptagline
{
width:850px;
font-family:helvetica;
font-size:200%;
color:#999;
padding-top:30px;
}

.pfooter
{
font-size:70%;
padding:10px;
}

strong
{
color:#637aae;
}








A:link {text-decoration: none;color:#637aae;font-weight:bold;padding-left:30px;font-family:helvetica;}
A:visited {text-decoration: none;color:#637aae;font-weight:bold;font-family:helvetica;padding-left:30px;}
A:active {text-decoration: none;color:#637aae;font-weight:bold;font-family:helvetica;padding-left:30px;}
A:hover {text-decoration: none;color:#333;font-weight:bold;font-family:helvetica;padding-left:30px;}


A.normal:link {text-decoration: none;color:#637aae;font-weight:bold;font-family:helvetica;padding:0;}
A.normal:visited {text-decoration: none;color:#637aae;font-weight:bold;font-family:helvetica;}
A.normal:active {text-decoration: none;color:#637aae;font-weight:bold;font-family:helvetica;}
A.normal:hover {text-decoration: none;color:#333;font-weight:bold;font-family:helvetica;}